<!DOCTYPE html>
<html>

<head> <!--ファイルの情報宣言,画面には見えない-->
  <meta charset="utf-8">
  <title>janken</title>
</head>
<body> <!--画面に表示される-->
    <div> <!--グループ化できるタグ-->
        <h1>Janken Game </h1>
        <!--thymeleafを利用してjavaから値を受けるとき，ModelMapの変数名を指定のとおりに囲むと良い-->
        <!--Pathパラメータ-->
        <p>[[${username}]]</p> <!--JankenControllerに書かれているusernameを表示している-->

        <a href="/Janken?param1=グー">グー</a>
        <a href="/Janken?param1=パー">パー</a>
        <a href="/Janken?param1=チョキ">チョキ</a>
    </div>

  <div>
    <p>[[${parameter}]]</p>
    <p>[[${cpu}]]</p>
    <p>[[${compare}]]</p>
  </div>
</body>

</html>