<!DOCTYPE html>
<html>

<head> <!--ファイルの情報宣言,画面には見えない-->
  <meta charset="utf-8">
  <title>janken</title>
</head>
<body> <!--画面に表示される-->
  <div><a href="/logout">ログアウト</a></div>

  <div> <!--グループ化できるタグ-->
      <h1>Janken Game!</h1>
      <p>[[${username}]]</p>
      <!--thymeleafを利用してjavaから値を受けるとき，ModelMapの変数名を指定のとおりに囲むと良い-->
      <!--Pathパラメータ-->
      <!--JankenControllerに書かれているusernameを表示している-->
      <p>エントリー</p>
      <ul th:if="${users}"> <!--Usersが返されているかどうか確認-->
        <li th:each="user : ${users}">[[${user.name}]]</li> <!--拡張for文のみたいなやり方Usersの配列をuserに格納し、欲しいnameを後に書いている-->
      </ul>
      <p>試合結果</p>
      <div><p th:each="match : ${matches}">ID = [[${match.id}]] user1 = [[${match.user1}]] user2 = [[${match.user2}]] user1Hand = [[${match.user1Hand}]] user2Hand = [[${match.user2Hand}]]</p></div>

      <a href="/JankenComp?param1=グー">グー</a>
      <a href="/JankenComp?param1=パー">パー</a>
      <a href="/JankenComp?param1=チョキ">チョキ</a>
  </div>

<div th:if="${compare}"> <!--result部分に何も書かれていないときは何も出力されない-->
  <p>[[${parameter}]]</p>
  <p>[[${cpu}]]</p>
  <p>[[${compare}]]</p>
</div>
</body>

</html>